@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

[class*=__container] {
  max-width: 1350px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.open {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.header {
  padding: 15px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgb(167, 164, 164);
  padding-bottom: 25px;
  gap: 20px;
}
@media (max-width: 420px) {
  .row {
    gap: 2px;
  }
}
.row__search {
  position: relative;
  border-radius: 8px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}
.row__search--button {
  background: url("../img/lupa.png") center no-repeat;
  height: 50px;
  width: 50px;
  position: absolute;
  top: -10px;
  left: -3px;
}
.row__search--button:focus {
  display: none;
}
@media (max-width: 365px) {
  .row__search--button {
    display: none;
  }
}
.row__search--input {
  height: 30px;
  padding-left: 15px;
  padding-right: 50px;
}
.row__search--input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.row__search--input:focus::-moz-placeholder {
  opacity: 0;
}
.row__search--input:focus:-ms-input-placeholder {
  opacity: 0;
}
.row__search--input:focus::-ms-input-placeholder {
  opacity: 0;
}
.row__search--input:focus::placeholder {
  opacity: 0;
}
.row__search--input::-webkit-search-decoration, .row__search--input::-webkit-search-cancel-button {
  display: none;
}
@media (max-width: 365px) {
  .row__search--input {
    display: none;
  }
}
.row__logo {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.transition {
  gap: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.transition__account, .transition__shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.transition__account--img, .transition__shop--img {
  max-width: 20px;
  max-height: 23px;
  line-height: 1.2;
}
.transition__account--img:hover, .transition__shop--img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 470px) {
  .transition__account--img, .transition__shop--img {
    display: none;
  }
}
.transition__account--text, .transition__shop--text {
  color: #1e2832;
  font-size: 18px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}
.transition__account--text:hover, .transition__shop--text:hover {
  color: rgb(113, 4, 4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (max-width: 680px) {
  .transition__account--text, .transition__shop--text {
    display: none;
  }
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30px;
  height: 18px;
}
.burger span {
  height: 2px;
  width: 80%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background-color: rgb(30, 6, 80);
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  z-index: 53;
  height: 2px;
  width: 100%;
  background-color: rgb(30, 6, 80);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.burger.active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, 50%);
      -ms-transform: rotate(-45deg) translate(0, 50%);
          transform: rotate(-45deg) translate(0, 50%);
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
      -ms-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
}
.burger span {
  height: 2px;
  width: 30px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background-color: rgb(30, 6, 80);
}

@media (max-width: 900px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navi {
    display: none;
    color: #ffbebe;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: rgb(29, 6, 80);
    -webkit-animation: burgerAnimation 0.4s;
            animation: burgerAnimation 0.4s;
  }
  .navi ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}
@-webkit-keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navi__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 57px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 680px) {
  .navi__list {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 52;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: rgba(11, 11, 47, 0.8862745098);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 680px) and (max-width: 680px) {
  .navi__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 52;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: rgba(11, 11, 47, 0.8862745098);
  }
}
.navi__list__items {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.navi__list__items:hover {
  color: rgb(105, 11, 11);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 680px) {
  .navi__list__items {
    color: #ffbebe;
    font-size: 33px;
    font-weight: 600;
  }
}

.collections__container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 98px;
}
@media (max-width: 747px) {
  .collections__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 52px;
  padding-top: 70px;
  padding-bottom: 60px;
}
@media (max-width: 928px) {
  .collection {
    gap: 32px;
  }
}
.collection__title {
  color: #000;
  font-size: 74px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 55px;
}
@media (max-width: 928px) {
  .collection__title {
    font-size: 44px;
  }
}
@media (max-width: 747px) {
  .collection__title {
    font-size: 64px;
  }
}
.collection__text {
  color: #000;
  font-size: 30px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 55px;
}
@media (max-width: 928px) {
  .collection__text {
    font-size: 18px;
  }
}
@media (max-width: 747px) {
  .collection__text {
    font-size: 25px;
  }
}
.collection__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 26px;
  max-width: 223px;
  background-color: #1E2832;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 928px) {
  .collection__button {
    padding: 15px 22px;
    max-width: 180px;
    font-size: 18px;
  }
}
.collection__button:hover {
  background-color: #233649;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.collection--img {
  max-width: 424px;
  height: 542px;
  border-radius: 160px 0px;
  border: 2px solid rgba(0, 0, 0, 0.25);
}
.collection--img img {
  position: relative;
  left: -18px;
  top: -20px;
}
@media (max-width: 745px) {
  .collection--img {
    display: none;
  }
}

.brend {
  background-color: #fff;
  padding-top: 90px;
}
.brend__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 90px;
}
.brend__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 768px) {
  .brend__row {
    gap: 50px;
  }
}
@media (max-width: 482px) {
  .brend__row {
    gap: 25px;
  }
}
.row-brand {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.row-brand__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card {
  position: relative;
}
.card__title {
  position: relative;
  bottom: -350px;
  right: 680px;
  color: #000;
  font-size: 34px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
@media (max-width: 1204px) {
  .card__title {
    position: relative;
    bottom: 5px;
    left: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    padding: 10px;
    font-size: 50px;
  }
}
@media (max-width: 745px) {
  .card__title {
    font-size: 30px;
  }
}
@media (max-width: 470px) {
  .card__title {
    font-size: 25px;
  }
}
.card__img {
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 312px;
  gap: 24px;
}
@media (max-width: 1100px) {
  .card__img {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 599px) {
  .card__img {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-auto-rows: 180px;
  }
}
.card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-card__item {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.img-card__item:hover {
  -webkit-box-shadow: 0px 0.4px 3.6px rgba(0, 0, 0, 0.061), 0px 1.1px 10px rgba(0, 0, 0, 0.09), 0px 2.7px 24.1px rgba(0, 0, 0, 0.1), 0px 9px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0.4px 3.6px rgba(0, 0, 0, 0.061), 0px 1.1px 10px rgba(0, 0, 0, 0.09), 0px 2.7px 24.1px rgba(0, 0, 0, 0.1), 0px 9px 80px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 600px) {
  .img-card__item:nth-child(7n+1) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .img-card__item:nth-child(10n+1) {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.label {
  width: 100%;
  max-width: 52px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: #233649;
  padding: 4px 5px;
  border: 1px solid #321e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: 0;
  bottom: 95%;
}

.subscribe {
  background-color: #fff;
}
.subscribe__container {
  padding-top: 70px;
  padding-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}
.subscribe__title {
  text-align: center;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: normal;
}
.subscribe__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 24px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__item--link {
  width: 100%;
}
.cards__item--link img {
  background-color: #666;
  aspect-ratio: 312/478;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 312px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 18px;
}
.cards__item--img {
  max-height: 400px;
}
.hover {
  background-color: #1E2832;
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  position: absolute;
  left: 0;
  bottom: 65px;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hover:hover {
  opacity: 1;
  overflow: hidden;
}

.shop {
  color: #fff;
  text-align: center;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  width: 100%;
}
.text__title {
  gap: 18px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: normal;
}
.text__tt {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.name {
  color: grey;
  font-size: 16px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.label--1 {
  width: 100%;
  max-width: 52px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: #233649;
  padding: 4px 5px;
  border: 1px solid #321e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  bottom: 450px;
}

.hot {
  background-color: #FF6F61;
  border: 1px solid #fb5a4c;
}

.tanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.grey {
  text-decoration: line-through;
  color: grey;
  font-weight: 400;
}

.red {
  color: red;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 20px;
}
.menu__item {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu__item:hover {
  color: #860000;
}

.active {
  color: #030404;
}

.menu__filter {
  background-color: #1e2832;
  padding: 5px 15px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.zara {
  position: relative;
  background: url(../img/zara.png) 0 0/cover no-repeat;
}
.zara__logo {
  position: absolute;
  top: 5%;
  right: 0;
  width: 45%;
}
.zara__container {
  padding-top: 230px;
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.zara__button {
  color: #1e2832;
  font-family: Roboto;
  font-size: min(max(18px, 18px + 4 * (100vw - 320px) / 230), 29px);
  padding: 19px 26px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.zara__button:hover {
  background-color: #860000;
  color: #f8f9f9;
}

.content {
  -ms-flex-preferred-size: 504px;
      flex-basis: 504px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 55px;
}
.content__text {
  row-gap: 55px;
}
.content__text--p {
  color: #fff;
  font-family: Roboto;
  font-size: min(max(18px, 18px + 1 * (100vw - 320px) / 230), 26px);
  line-height: 1.53;
  text-transform: capitalize;
}

.bestsellers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}
.bestsellers__title {
  text-align: center;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: normal;
}
.bestsellers__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  gap: 24px;
}

.follow {
  padding-top: 70px;
}
.follow__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
}
.follow__section--one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
.follow__title {
  text-align: center;
  color: #000;
  font-size: 50px;
  font-size: min(max(18px, 18px + 25 * (100vw - 320px) / 230), 50px);
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: normal;
}
.follow__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
.follow__cards--img {
  width: 100%;
  max-width: 200px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 200/200;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.follow__cards--img:hover {
  -webkit-box-shadow: 0px 0.4px 3.6px rgba(0, 0, 0, 0.061), 0px 1.1px 10px rgba(0, 0, 0, 0.09), 0px 2.7px 24.1px rgba(0, 0, 0, 0.1), 0px 9px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0.4px 3.6px rgba(0, 0, 0, 0.061), 0px 1.1px 10px rgba(0, 0, 0, 0.09), 0px 2.7px 24.1px rgba(0, 0, 0, 0.1), 0px 9px 80px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.follow__section--two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 74px;
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 26px;
}
.form__input {
  -ms-flex-preferred-size: 643px;
      flex-basis: 643px;
  padding: 7px 15px;
  border-bottom: 2px solid #000;
}
.form__input:hover {
  border-bottom: 2px solid #860000;
}
.form__button {
  padding: 10px;
  border-bottom: 2px solid #000;
  color: #1e2832;
  text-transform: capitalize;
}
.form__button:hover {
  color: #860000;
  border-bottom: 2px solid #860000;
}

.footer {
  padding-top: 140px;
}
.footer__bottom {
  background-color: #1E2832;
  color: #FFFFFF;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 56px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 96px;
}
.top__section1 {
  -ms-flex-preferred-size: 392px;
      flex-basis: 392px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top__section1--text {
  color: rgba(30, 40, 50, 0.75);
  text-transform: capitalize;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.top__section1--social {
  gap: 36px;
  max-width: 208px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}
.top__section2 {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 22px;
}
.top__section3 {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 22px;
}
.top__section4 {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 22px;
}

.social {
  max-width: 25px;
  -webkit-transition: 0.5;
  transition: 0.5;
}
.social:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5;
  transition: 0.5;
}

.first {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}
.list__items {
  color: #1e2832;
  font-size: 14px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
}
.list__items:hover {
  color: #860000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.bottom__ap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}